# Shared mpd database accessed by all other mpd instances
# Does not play music
include "shared.conf"

pid_file "/run/mpd/pid_database"

bind_to_address "/run/mpd/socket-database"
# contrary to the documentation, updating the database seems to require "control"
#   permission instead of "admin" permission
# tested with version 0.21.5
# adding both in case this is a bug
local_permissions "read,control,admin"

database {
    plugin "simple"
    path "{{ pi_juke_mpd_database }}"
    cache_directory "/var/lib/mpd/cache"
}

audio_output {
    type "null"
    name "null"
    enabled "no"
}
