include "shared.conf"

pid_file "/run/mpd/pid_local"
state_file "/var/lib/mpd/state_local"
sticker_file "/var/lib/mpd/sticker_local.sql"

database {
    plugin "proxy"
    host "/run/mpd/socket-database"
}

bind_to_address "any"
# used for passwordless local connections
bind_to_address "/run/mpd/socket-local"
port "{{ pi_juke_mpd_local_port }}"

default_permissions "{{ pi_juke_mpd_local_default_permissions }}"
local_permissions "read,add,control"
include "local-permissions.conf"

{% for output in pi_juke_mpd_local_audio_outputs %}
audio_output {
{% for key, value in output.items() %}
    {{ key }} "{{ value }}"
{% endfor %}
}
{% endfor %}
