# Common settings for all mpd instances, including mpd-database
# Documentation: https://www.musicpd.org/doc/html/user.html
user "mpd"

music_directory "{{ pi_juke_mpd_music_dir }}"
playlist_directory "/var/lib/mpd/playlists"
log_file "syslog"
log_level "default"

zeroconf_enabled "no"
# auto_update doesn't work with network file systems
auto_update "no"
follow_outside_symlinks "no"

replaygain "off"

# Disable unused input plugins to avoid log spam
input {
    plugin "tidal"
    enabled "no"
}
input {
    plugin "qobuz"
    enabled "no"
}
