include "shared.conf"

pid_file "/run/mpd/pid_stream"
state_file "/var/lib/mpd/state_stream"
sticker_file "/var/lib/mpd/sticker_stream.sql"

database {
    plugin "proxy"
    host "/run/mpd/socket-database"
}

bind_to_address "any"
# used for passwordless local connections
bind_to_address "/run/mpd/socket-stream"
port "{{ pi_juke_mpd_stream_port }}"

default_permissions "{{ pi_juke_mpd_stream_default_permissions }}"
local_permissions "read,add,control"
include "stream-permissions.conf"

{% for output in pi_juke_mpd_stream_audio_outputs %}
audio_output {
{% for key, value in output.items() %}
    {{ key }} "{{ value }}"
{% endfor %}
}
{% endfor %}
