[libdefaults]
  default_realm = {{ pi_juke_kerberos_realm }}
  dns_lookup_realm = true
  dns_lookup_kdc = true
  rdns = false
  dns_canonicalize_hostname = false
  ticket_lifetime = 24h
  forwardable = true
  udp_preference_limit = 0
  default_ccache_name = KEYRING:persistent:%{uid}

[domain_realm]
  .{{ pi_juke_kerberos_domain }} = {{ pi_juke_kerberos_realm }}
  {{ pi_juke_kerberos_domain }} = {{ pi_juke_kerberos_realm }}
