[Unit]
Description=Daily MPD Crop - %I
BindsTo=mpd@%i.service
After=mpd@%i.service

[Timer]
Unit=mpc-crop@%i.service
OnActiveSec={{ pi_juke_crop_timespan }}
OnUnitInactiveSec={{ pi_juke_crop_timespan }}

[Install]
WantedBy=mpd@%i.service
