[Unit]
Description=Renew MPD kerberos ticket
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=mpd
ExecStart=/usr/bin/kinit -V -kt /usr/local/etc/mpd.keytab -- "{{ pi_juke_nfs_user }}"
