[Unit]
Description=Music Player Daemon Shared Database
Documentation=man:mpd(1) man:mpd.conf(5)
Documentation=file:///usr/share/doc/mpd/user-manual.html
After=network.target
# Conflict with default mpd service
Wants=mpd-kinit.timer
After=mpd-kinit.service
RequiresMountsFor={{ pi_juke_mount_path }}

[Service]
Type=notify
ExecStart=/usr/bin/mpd --no-daemon /usr/local/etc/mpd/database.conf
# Sleep after starting so the database has time to start updating before starting other units that depend on it
ExecStartPost=/bin/sleep 5

# Enable this setting to ask systemd to watch over MPD, see
# systemd.service(5).  This is disabled by default because it causes
# periodic wakeups which are unnecessary if MPD is not playing.
#WatchdogSec=120

# allow MPD to use real-time priority 50
LimitRTPRIO=50
LimitRTTIME=infinity

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
# AF_NETLINK is required by libsmbclient, or it will exit() .. *sigh*
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=yes
