MPD_HOST=/run/mpd/socket-local
MPDCONF=/usr/local/etc/mpd/local.conf
ASHUFFLE_ARGS={{ pi_juke_ashuffle_local_args }}
CONTROLLER_DEVICE={{ pi_juke_controller_device }}
CONTROLLER_COMMANDS=/usr/local/etc/mpd-controller.json
