[Unit]
Documentation=man:fstab(5)
Requires=network-online.target
After=network-online.target
# The 'sec=krb5p' option won't work if rpc-gssd isn't running
Wants=rpc-gssd.service
After=rpc-gssd.service

[Mount]
Where={{ pi_juke_mount_path }}
What={{ pi_juke_nfs_share }}
Type=nfs4
Options={{ pi_juke_nfs_mount_options }}
TimeoutSec=90

[Install]
WantedBy=remote-fs.target
