[Unit]
Documentation=man:fstab(5)
Requires=network-online.target
After=network-online.target

[Mount]
Where={{ pi_juke_mount_path }}
What={{ pi_juke_sftp_share }}
Type=fuse.sshfs
Options={{ pi_juke_sftp_mount_options }}
TimeoutSec=90

[Install]
WantedBy=remote-fs.target
